body {
    margin: 0;
    background-color: rgb(27, 27, 27);
    color: #dedede;
    font-family: 'Lobster', cursive;
    font-size: 2em;
    box-sizing: border-box;
    overflow: hidden;    
}

#canvas, #overlay, #game {
    margin: 0 auto;
    width: 540px;
    height: 960px;
    transform-origin: top left;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    pointer-events: none;
}

input {
    background: transparent;
    border: 3px solid #fabbb9;
    color: #dedede;
    padding: 20px;
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    max-width: 100%;
}

input:focus {
    outline: none;
}

#nameWrapper {
    position: absolute;
    width: 400px;
    top: 20%;
    left: 12%;
    display: none;
}

button {    
    font-family: 'Lobster', cursive;
    color: #dedede;
    border: none;
    background: none;    
    display: block;
    cursor: pointer;
}

.base-btn {
    font-size: 35px;
    padding: 10px 30px;
    margin: 16% auto;
}

.wrapper {
    width: 80%;
    padding: 0 5% 5% 5%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30% auto;
    border: 1px;
    border-style: dashed;
    display: none;
    background-color: rgb(27, 27, 27);
}

#duelInvite button{
    font-size: 1em;
    transition: .3s all cubic-bezier(0.645, 0.045, 0.355, 1);
}

#duelInvite button:hover {
    transform: scale(1.05);    
}

#duelInvite-yes {
    color: rgb(137, 228, 0);
}

#waiting p {
    text-align: center;
    width: 100%;
}

#waiting-cancel {
    font-size: 1em;
}

.dot {
    animation: dotAnim 1.5s ease infinite ;
}
.dot:nth-child(2){
    animation-delay: .3s;
}
.dot:nth-child(3){
    animation-delay: .6s;
}

@keyframes dotAnim {
	0% {opacity: 1;}
    50% {opacity: .2;}
    100% {opacity: 1;}
}

#outcome-msg {
    text-align: center;
}