body {
    margin: 0;
    background-color: rgb(27, 27, 27);
    color: #dedede;
    font-family: monospace;
    font-size: 2em;
    box-sizing: border-box;
}

canvas {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#overlay {
    width: 540px;
    height: 960px;
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    pointer-events: none;
}

input {
    background: transparent;
    border: 1px solid #dedede;
    color: #dedede;
    padding: 20px;
    font-family: monospace;
    font-size: 1.5em;
    max-width: 100%;
}

input:focus {
    outline: none;
}

#nameWrapper {
    position: absolute;
    width: 400px;
    top: 20%;
    left: 12%;
    display: none;
}

button {    
    font-family: monospace;
    color: #dedede;
    border: none;
    background: none;    
    display: block;
    cursor: pointer;
}

#startBtn {
    font-size: 35px;
    padding: 10px 30px;
    margin: 16% auto;
}

.wrapper {
    width: 80%;
    padding: 0 5% 5% 5%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30% auto;
    border: 1px;
    border-style: dashed;
    display: none;
    background: black;
}

#duelInvite button{
    font-size: 1em;
}

#duelInvite-yes {
    color: rgb(137, 228, 0);
}

#waiting p {
    text-align: center;
    width: 100%;
}

#waiting-cancel {
    font-size: 1em;
}

.dot {
    animation: dotAnim 1.5s ease infinite ;
}
.dot:nth-child(2){
    animation-delay: .3s;
}
.dot:nth-child(3){
    animation-delay: .6s;
}

@keyframes dotAnim {
	0% {opacity: 1;}
    50% {opacity: .2;}
    100% {opacity: 1;}
}
